/* ===================
	Footer Style

	Project: PHP_Site;
	Type: Footer Styles;
	Author: Gi3a;

=================== */


/* ===================
	Settings
=================== */

/* Footer Menu */





/* ===================
	Mobile Settings 763x1024
=================== */

@media screen and (min-width: 763px) and (max-width: 1024px){

	/*  */

}



/* ===================
	Mobile Settings 100x763
=================== */

@media screen and (min-width: 100px) and (max-width: 763px){

	/*  */

}